VampireAssassin/Content/VampireAssassinMainFolders/Maps/Art/Meshes/Yacht/TopDeck/Helicopter/Super_Stallion_Helicopter_with_Animation__miltary_paint__Cylinder009.uasset
VampireAssassin/Content/VampireAssassinMainFolders/Maps/Art/Meshes/Yacht/TopDeck/Helicopter/Super_Stallion_Helicopter_with_Animation__miltary_paint__Cylinder016.uasset
